<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/teddie.png" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
        <%- include("./header.html") %>
        <br>
        <p class="aligncenter">
            <img src="../public/images/nodejs.png" alt="logo">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro">
                Инаба — тихий городок в сельской местности Японии, где в Persona 4 Golden разворачивается юность. История взросления, в которой главный герой и его друзья отправляются в путешествие, начатое серией серийных убийств.Исследуйте встречи с родственными душами, чувство принадлежности и даже столкновение с темными сторонами своей личности. Persona 4 Golden обещает значимые связи и опыт, которыми можно поделиться с друзьями.
                Обожаемая фанатами Persona 4 Golden, получившая на Metacritic 93 балла и множество наград, считается одной из лучших когда-либо созданных ролевых игр, предлагая захватывающее повествование и типичный геймплей Persona.
                Persona 4 Golden в Steam лучше всего работает с игровым контроллером.
                Ключевые особенности включают в себя:
                Наслаждайтесь игровым процессом с переменной частотой кадров
                Окунитесь в мир Persona на ПК в формате Full HD
                Достижения Steam и коллекционные карточки
                Выберите между японским и английским озвучиванием.
            </p>
            <p class="intro">
                Persona 4 Golden является обновлённой версией Persona 4 (PlayStation 2, 2008) , вышедшей для PlayStation Vita в 2012 году и получившей порт для ПК в 2020 году. Релиз в Steam побил пиковый рекорд по онлайну среди всех одиночных JRPG.
            </p>
        </div>
    
    </div>
    <%- include("./footer.html") %>
    </div>
</body>
</html>
